#!/bin/bash

sleep 3

bluetoothctl << EOF
system-alias "{{ bluetooth_device_name }}"
power on
agent KeyboardDisplay 
default-agent
discoverable on
pairable on
discoverable-timeout 300
pairable-timeout 0
EOF
